<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>{% block title %} Django App {% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'users:login' %}">
        <span role="img" aria-label="login" title="login">🏠Login</span>
      </a>
      |

      <a href="{% url 'users:register' %}">
        <span role="img" aria-label="register" title="register">🚀Register</span>
      </a>
      |
      <a href="{% url 'swipepic:history' %}">
        <span role="img" aria-label="history" title="history">📰History</span> </a
      >|
      <a href="{% url 'swipepic:dashboard' %}">
        <span role="img" aria-label="dashboard" title="dashboard"
          >📩Dashboard
        </span>
      </a>
      |
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
